@import url(style.css);

/* Style Login Section */

.login {
    height: 100vh;
}

.login .login-content {
    height: 100%;
    padding: 0.5rem;
}

.login .back-button {
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
}

.login .login-content .logo {
    width: 6.898rem;
}

.login .login-content-inner {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.login .login-content-inner .title {
    margin-bottom: 1rem;
    color: var(--black-color);
    font-family: var(--font-trade-gothic);
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
}

.login .login-content-inner .desc {
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: var(--fw-regular);
    opacity: 0.75;
}

form .form-content {
    position: relative;
}

form .form-content .form-check-label {
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
}

form .form-content .submit-button {
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-semibold);
}

form .form-content:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form-content .form-label {
    position: absolute;
    top: -0.6rem;
    left: 0.8rem;
    padding: 0 0.25rem;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
    z-index: 3;
}

.form-content .form-control {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid var(--black-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-weight: var(--fw-regular);
}

.form-content #show-hide {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) !important;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.form-content .button-icon {
    color: var(--black-color);
    font-size: 1.5rem;
}

.form-content .form-control:focus .form-label {
    color: var(--primary-color);
}

.login-content .info-text {
    margin-top: 1rem;
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-semibold);
}

.login-content .info-text button {
    display: inline-block;
    color: var(--secondary-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-semibold);
}

.login-content .register-button {
    color: var(--secondary-color);
}

.login-content .row-divider {
    position: relative;
    margin: 2.5rem 0;
}

.login-content .row-divider .divider {
    position: relative;
    width: 100%;
    height: 0.1rem;
    background-color: var(--black-color);
    opacity: 0.25;
}

.login-content .row-divider .info-container {
    position: absolute;
    top: -0.7rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    background-color: var(--white-color);
}

.login-content .row-divider .info-container .text {
    color: var(--black-color);
    font-family: var(--font-poppins);
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
    text-align: center;
    opacity: 0.5;
}

.login-content .account .user-button {
    height: max-content;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    text-align: center;
}

.login .login-image {
    height: 100%;
    padding: 1rem;
}

.login .swiper-verify {
    position: relative;
    height: 100%;
}

.login .swiper-verify .swiper-wrapper .swiper-slide {
    position: relative;
}

.login .swiper-verify .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.875rem;
}

.login .swiper-verify .swiper-wrapper .swiper-slide .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black-color);
    border-radius: 1.875rem;
    opacity: 0.2;
}

.login .swiper-verify .swiper-pagination {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.login .swiper-verify .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--white-color);
    opacity: 1;
}

.login .swiper-verify .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 2rem;
    border-radius: 0.313rem;
    background-color: var(--primary-color);
    opacity: 1;
}